<p>Hey <%= locals.name %>,</p>
<p>Please click below to reset your password</p>
<p>
    <a href="<%= locals.url %>" style="background-color: #b7b7e9;
    margin: auto;
    padding: 10px;
    text-decoration: none;">Click Here to reset your password</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>